<?xml version="1.0"?>
<config>
    <modules>
        <Twinsen_PdfTester>
            <version>1.0.0</version>
        </Twinsen_PdfTester>
    </modules>
    <global>
        <models>
            <twinsen_pdftester>
                <class>Twinsen_PdfTester_Model</class>
                <resourceModel>twinsen_pdftester_resource</resourceModel>
            </twinsen_pdftester>
            <twinsen_pdftester_resource>
                <class>Twinsen_PdfTester_Model_Resource</class>
            </twinsen_pdftester_resource>
        </models>
        <blocks>
            <twinsen_pdftester>
                <class>Twinsen_PdfTester_Block</class>
            </twinsen_pdftester>
        </blocks>
        <helpers>
            <twinsen_pdftester>
                <class>Twinsen_PdfTester_Helper</class>
            </twinsen_pdftester>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Twinsen_PdfTester after="Mage_Adminhtml">Twinsen_PdfTester_Adminhtml</Twinsen_PdfTester>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <dpdshipping>
                        <class>Twinsen_PdfTester_Model_Observer</class>
                        <method>core_block_abstract_to_html_before</method>
                        <type>model</type>
                    </dpdshipping>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
</config>
